body {
  background-color: #E4E4E4 ;
  margin: 0;
  padding: 0;
}
.MainLog {
  height: 100vh;
  width: 53vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ABC9FF;
  margin: 0;
  padding: 0;
  float: left;
}


.logo {
  width: 200px;
  background-color: rgba(1, 156, 22, 0);
}

h1 {
  color: white;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 700;
}

.login {
  width: 25vw;
  float: right;
  background-color: white;
  border-radius: 20px;
  margin-right: 200px ;
  padding: 20px;
  margin-top: 300px;
}

.signin{
  width: 50px;
  height: 50px;
}
hr{
  padding: 0;
  margin: 5px;
}
button {
  background-color:#F5F5F5;
  margin: 0 10px 0 10px;
  border-radius: 5px;
  padding: 5px 10px;
  border-style: none;
  box-shadow: 2px 3px 5px 0px #cac6ce;
}

